<html>
    <head>
        <title>First Page</title>
    </head>
    <body>
        <h2>Enter Details</h2>
        <form method="post">
            {%csrf_token%}
            Name:<input type="text" name="name" id="name"><br><br>
            Roll no.:<input type="number" name="roll"><br><br>
            Subject:
            <select name="sub">
                <option value="Bio">Biology</option>
                <option value="Math">Maths</option>
                <option value="Sci">Science</option>
            </select><br><br>
            <input type="submit" value="Go to SecondPage">
        </form>
    </body>
</html>